/* CSS Document */

body{
	margin: 0; 
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color:  #0093DD;
	}

h1{font-size: 3em;}

h1,h2,h3,h4,h5,h6 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

ul, ol, dl{margin: 0; padding: 0;}

a{text-decoration: none;}

a:link{color: #000000;}

a:visited{color: #000000;}

a:hover{
	color: #0093DD;
	background-color: #FFFFFF;
	text-decoration: underline;
}

/*This styles the wrapper of the home page only*/
#wrapper{
		margin: 0 auto; 
		min-width: 1200px;
		padding: 1em;
		}

#header{
		overflow: auto;
		padding: 0.25em 1em;
		background-color: #FFFFFF;
	}
	
.logo{
	float: left;
}
	
	
#textNavigation{
		float: right;
		margin-top: 8em;
		border-style: solid none;
		padding: 0.25em 0.5em;
		text-align: left;
		font-size: 0.75em;
		
}	
				 
#textNavigation ul{list-style-type: none;}

#textNavigation li{display: inline; margin-right: 0.25em}
		
#content{
		overflow: auto;
		padding: 1em;
		border: solid #FFFFFF 1em;
		background-color: #000000;
		font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	}

#menuNavigation{
		float: left;
		height: 400px;
		width: 25%;
		font-weight: bold;
		font-family: "Comic Sans", cursive, sans-serif;	
}

#menuNavigation li{
				list-style-type: none;
}

ul.mainMenu{
	height: 400px;
	padding: 1em;
	border-style: solid;
	border-radius: 10px;
	background-color: #0093DD;
}

ul.mainMenu li{
			border: solid #FFFFFF 0.25em; 
			border-radius:45px;
			padding: 0.5em;
			background-color: #FFFFFF;
			margin-top: 0.75em;
			margin-right: 2em;
			width: 250px;
}

#menuNavigation  a{
				display: block; 
				height: 25px;
				width: 100%;
				line-height: 30px;
}

#menuNavigation li:hover{position: relative;}

/*configures subMenu so it is not displayed*/
ul.subMenu{
	display:none;
	padding: 0.5em;
	border-right: solid #FFFFFF 0.25em;
	border-radius: 20px;
	background-color: #FFFFFF;
}

/*displays the subMenu when mouse hovers over a list item*/
li:hover .subMenu {
	border: none;
	display: block;
	position: absolute;
	right: -272px;
	top: -4px;
}

ul.subMenu li{
	border: none;
	margin: 0;
	width: 240px;
}

li:hover .subMenu  .subMenu{
	display: none;
}

.subMenu li:hover .subMenu {
	display: block;
	position: absolute;
	right: -170px;
	top: -5px;
}

.subMenu ul.subMenu li{
	border: none;
	/*margin: 0;*/
	width: 150px;
}

.subMenu{
	font-size: 0.9em;
	
}

#thumbnails{
			height: 425px;
			overflow: auto;
			margin-top: 0.25em;
			text-align: right;
}
		
#thumbnails ul{
			list-style-type: none;
			margin-top: 1em;
			padding-right: 1em;
			
}

#thumbnails li{display: block; margin-bottom: 1em;}

#information{
	float: right;
	overflow: auto;
	width: 55%;
	height: 400px;
	padding: 1em;
	border: solid #000000;
	border-radius: 10px;
	background-color: #0093DD;
	color: #FFFFFF;
}

#footer{
	overflow: auto;
	padding: 0em 1em 1em;
	background-color: #FFFFFF;
}	

.disclaimer{
	float: left;
	margin: 0 auto;
	font-variant: small-caps;
	font-weight: bold;
}

.right{
	float: right;
	margin: 0 auto;
	font-variant: small-caps;
	font-weight: bold;
}
		
/*configures the message for under construction page*/
.construction{
				font-style: oblique; 
				font-size: 1.25em;
				text-align: center;
				color: #FFFFFF;
			}
			
.construction h1{
				color: #000000;
				text-align: left;
}

.photo{
	text-align: center;
}

.photoDescription{float: right; width: 35%; margin-right: 1em;}